* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #030b16;
  color: white;
  font-family: Arial, sans-serif;
}

/* Navbar */

.navbar {
  width: 100%;
  height: 70px;
  padding: 0 7%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #030b16;
  border-bottom: 1px solid #142033;
  position: relative;
}

/* Logo */

.logo {
  font-size: 18px;
  font-weight: bold;
}

.logo span {
  color: #3b82f6;
  font-size: 22px;
  margin-right: 6px;
}

/* Menu */

.nav-links {
  display: flex;
  align-items: center;
  gap: 30px;
}

.nav-links span {
  color: #c5cbd5;
  font-size: 13px;
  cursor: pointer;
}

.nav-links span:hover {
  color: #3b82f6;
}

.nav-links .active {
  color: #3b82f6;
}

/* Right Side */

.nav-right {
  display: flex;
  align-items: center;
  gap: 15px;
}

/* Theme */

.theme-btn {
  background: transparent;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

/* Resume */

.resume-btn {
  padding: 9px 18px;
  border: 1px solid #4266c5;
  border-radius: 20px;
  background: transparent;
  color: white;
  font-size: 12px;
  cursor: pointer;
}

.resume-btn:hover {
  background: #2563eb;
}

/* Hamburger */

.menu-btn {
  display: none;
  background: transparent;
  border: none;
  color: white;
  font-size: 28px;
  cursor: pointer;
}


/* ========================= */
/* MOBILE */
/* ========================= */

@media (max-width: 700px) {

  .navbar {
    height: 65px;
    padding: 0 5%;
  }

  /* Hide desktop menu */

  .nav-links {
    display: none;
  }

  /* Show hamburger */

  .menu-btn {
    display: block;
  }

  /* Hide resume on phone */

  .resume-btn {
    display: none;
  }

  /* Mobile Menu */

  .nav-links.open {
    display: flex;
    position: absolute;
    top: 65px;
    left: 0;
    width: 100%;
    background: #07111f;

    flex-direction: column;
    align-items: center;

    gap: 0;

    padding: 15px 0;

    border-bottom: 1px solid #1b2a40;
    z-index: 100;
  }

  .nav-links.open span {
    width: 100%;
    text-align: center;
    padding: 14px 0;
    font-size: 15px;
  }

  .nav-links.open span:hover {
    background: #0d1c30;
  }

  .nav-links.open .active {
    color: #3b82f6;
  }
}


/* ========================= */
/* LIGHT MODE */
/* ========================= */

body.light-mode {
  background: #f5f7fb;
  color: #111827;
}

body.light-mode .navbar {
  background: white;
  border-bottom: 1px solid #ddd;
}

body.light-mode .nav-links.open {
  background: white;
}

body.light-mode .nav-links span {
  color: #333;
}

body.light-mode .nav-links .active {
  color: #2563eb;
}

body.light-mode .theme-btn,
body.light-mode .menu-btn {
  color: #111;
}

body.light-mode .resume-btn {
  color: #111;
}